
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-sap-blue: #008FD3;
  --color-sap-gold: #F0AB00;
  --color-sap-paper: #f8fafc;
}

@variant dark (&:is(.dark, .dark *));

@layer base {
  body {
    @apply bg-sap-paper dark:bg-[#050505] text-slate-900 dark:text-slate-100 antialiased transition-colors duration-500;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/70 dark:bg-black/40 backdrop-blur-xl border border-white/20 dark:border-white/10;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-sap-blue to-blue-600;
  }
}
